.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 2rem 6rem;
}

.nav__title {
  font-size: 1.4rem;
}

.nav__list {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.nav__items {
  cursor: pointer;
  line-height: 1.2rem;
  font-size: 1.125rem;
  font-weight: 500;
}

.nav__button {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.nav__button button {
  background: #ff4820;
  padding: 1rem 1.8rem;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.125rem;
  cursor: pointer;
}

.nav__toggle {
  display: none;
}

.nav__toggle svg {
  cursor: pointer;
}

.nav__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  background: var(--color-footer);
  padding: 2rem;
  position: absolute;
  top: 40px;
  right: 0;
  margin-top: 1rem;
  min-width: 210px;
  border-radius: 5px;
  box-shadow: 0 0 5 rgba(0, 0, 0, 0.2);
}

@media screen (mad-width: 700px) {
  .nav__toggle {
    display: flex;
  }
}
